/* ==========================================================================
   PLACEHOLDER
   ========================================================================== */

%label {
  text-transform: uppercase;
  font-size: 1.166667em;
  font-weight: 700;
}

%sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}