/* ==========================================================================
   INPUT
   ========================================================================== */

@import "../../../../../../../../../../src/styles/components/checkbox";
@import "../../../../../../../../../../src/styles/components/input";

$sizes: (
        'full': 100%,
        'one_third': 100% / 3 * 1,
        'two_third': 100% / 3 * 2,
);

input[type='number'] {
  -moz-appearance:textfield;
}

input[type="date"] {

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity:0;
    -webkit-appearance: none;
  }
  &::-webkit-calendar-picker-indicator {
    display: none;
  }

}

.msf-input {
  position: relative;
  flex-flow: row wrap;
  width: 100%;

  + .msf-input {
    margin-top: 1rem;
  }

  @include bp($large-bp) {
    + .msf-input {
      margin-top: 2rem;
    }
  }



  &.msf-input--select:last-child {
    margin-bottom: 1rem;

    @include bp($large-bp) {
      margin-bottom: 2rem;
    }
  }
}

@each $name, $size in $sizes {
  .msf-input--size-#{$name} {
    @if($name == 'one_third') {
      width: calc(#{$size} - 1.5rem);
    } @else {
      width: $size;
    }
  }

  @if($name != 'full') {
    .msf-input--size-one_third + .msf-input--size-two_third,
    .msf-input--size-two_third + .msf-input--size-one_third {
      margin-left: 1.5rem;
    }
  }
}

.msf-input-wrap {
  display: flex;
  align-items: center;
}

.msf-input--btn-group {

}

.msf-input__btn {
  margin: 0;
}

.msf-input__checkboxes {
  @include anim($prop: max-height);

  display: flex;
  flex-flow: row wrap;
  max-height: 100%;
  padding: 1.5rem 1rem 0;
  margin: 0 -1rem;

  @include bp($large-bp) {
    padding-top: 3rem;
  }
}

.msf-input__checkboxes--collapsed {
  position: relative;
  max-height: calc(var(--list-max-height) + 2.5rem);
  overflow-y: hidden;

  &::before {
    @include anim($prop: transform);
    @include ps();

    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-image: linear-gradient(to top, #fff, rgba(#fff, 0.5));
    z-index: 1;
  }
}

.msf-input__checkboxes--is-expanded {
  &::before {
    transform: translateY(100%);
  }
}

.msf-input--counter {
  + .msf-input--counter {
    margin-top: 0;
    margin-left: 2rem;
  }

  @include bp($large-bp) {
    + .msf-input--counter {
      margin-left: 4rem;
    }
  }
}

.msf-input--checkbox {
  position: relative;
  display: flex;
  flex: 0 0 50%;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: flex-start;

  .msf-input__checkboxes & {
    //flex-wrap: wrap;
  }

  &:nth-child(even) {
    padding-left: 1rem;
  }

  margin-bottom: 1rem;

  + .msf-input--checkbox {
    margin-top: 0;
  }

  @include bp($large-bp) {
    flex-basis: 33%;

    + .msf-input--checkbox {
      margin-top: 0;
    }

    &:nth-child(even) {
      padding-left: 0;
    }
  }
}

.msf-input--select-all {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 0;

  @include bp($large-bp) {
    margin-top: 3rem;
  }
}

.msf-input__label,
.msf-input__required-star {
  align-self: flex-start;
}

.msf-input__label--choices {
  align-self: initial;
  width: 100%;
}

.msf-input__label {
  @include text-token('sans', 'copy', 'sm');
}

.msf-input__label--checkbox {
  @include text-token('sans', 'copy', 'md');
  margin-left: 0.75rem;
}

.msf-input__label--button-group {
  display: block;
  margin-bottom: 1rem;
}

.msf-input__label--counter {
  display: block;
  margin-bottom: 0.25rem;
}

.msf-input__control {
  display: block;

  &[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }
}

.msf-input__control--count {
  text-align: center;
  width: 4rem;
  margin: 0 0.75rem;

  @include bp($large-bp) {
    width: 6rem;
    margin: 0 1rem;
  }
}

.msf-input__control--checkbox {
  padding: 0;
}

.msf-input__validation {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 0;

  .msf-input__control + &,
  .msf-input--select & {
    top: 100%;
  }

  .msf-input--counter & {
    top: calc(100% + 0.5rem);
  }
}

.msf-input__wrapper {
  position: relative;
}

.msf-input__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  color: darkseagreen;
  fill: map-get($brand-colors, 'green', '800');
}
