/* ==========================================================================
   SELECT
   ========================================================================== */

.msf-select {
  position: relative;
}

.msf-select__inner,
.msf-select__group {
  display: flex;
  flex-flow: column wrap;
}

.msf-select__search-input {
  background-color: transparent;
}

.msf-select__autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  color: map-get($brand-colors, 'black', '200');
  z-index: -1;
}

.msf-select__group {
  padding: 1rem 1.125rem;
}

.msf-select__group-label {
  @include text-token('sans', 'headline', '2xs');

  position: sticky;
  top: 0;
  background-color: #fff;

  @include bp($large-bp) {
    @include text-token('sans', 'headline', 'xs');
  }
}

.msf-select__choice {
  @include text-token('sans', 'copy', 'sm');

  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0.5rem;
  text-align: left;
  color: map-get($brand-colors, 'green', '900');
  cursor: pointer;

  &.is-selected {
    background-color: map-get($brand-colors, 'warm-grey', '100');
  }

  @include on-event {
    background-color: map-get($brand-colors, 'warm-grey', '100');
  }

  @include bp($large-bp) {
    @include text-token('sans', 'copy', 'md');
  }
}

.msf-select__group-wrapper {
  position: absolute;
  max-height: 380px;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  top: 100%;
  border: 2px solid map-get($brand-colors, 'green', '900');
  border-top: none;
  overflow-y: auto;
  margin-top: -2px;
  border-radius: 4px;
}

.msf-select__option {
  display: flex;
  align-items: center;
}

.msf-select__option-box {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}
