/* ==========================================================================
   FORM STEP
   ========================================================================== */

.msf-step {
  width: 100%;
  flex: 1 0 100%;
}

.msf-step__group-title {
  @include text-token('sans', 'headline', 'xs');

  color: #000;
}
