/* ==========================================================================
   FORM STEP
   ========================================================================== */

.msf-step {
  width: 100%;
  flex: 1 0 100%;

  + .msf-step {
    transform: translateX(-100%);
  }
}

.msf-step__header-content {
  padding-top: 0;

  @include bp($large-bp) {
    padding-top: 9.733125rem;

    .msf-step__header--has-image & {
      padding-top: 12.125rem;
    }
  }
}

.msf-step__headline {
  @include text-token('sans', 'headline', 'sm');
}

.msf-step__group {
  padding: 1.5rem 0;
  border-top: 1px solid map-get($brand-colors, 'warm-grey', '100');
  margin-top: 1.5rem;

  + .msf-step__group {
    margin-top: 0;
  }

  @include bp($large-bp) {
    padding: 3rem 0;
    margin-top: 3rem;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.msf-step__group-wrap {
  display: flex;
  flex-flow: row wrap;
}

.msf-step__group-title {
  @include text-token('sans', 'headline', 'xs');
}

